.side-menu{
	position: fixed;
	height: 100vh;
	width: 200px;
	background-color: white;
	// overflow-y: scroll;
}
.management-area{
	position: absolute;
	left: 200px;
	top:4rem;
	right: 0;
}
.flex-container{
	margin: 10px 25px;
}